<header>
    <nav>
        <div class="logo">
            <i class="fas fa-pen-fancy"></i>
            <span>Blog Academy</span>
        </div>
        <div class="nav-links">
            <a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
            <a href="/blog" class="<%= path === '/blog' ? 'active' : '' %>">Blog</a>
            <a href="/academy" class="<%= path === '/academy' ? 'active' : '' %>">Academy</a>
            <a href="/login" class="login-btn">Login</a>
        </div>
    </nav>
</header> 